* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

header {
    margin: 44px 0px 144px 76px;
}

.link-header {
    color: #989D9C;
    font-size: 24px;
    font-weight: 600;
    margin-right: 23px;
    text-transform: uppercase;
    cursor: pointer;
}

.button-header {
    width: 130px;
    height: 41px;
    background: #665AE1;
    border-radius: 20.5px;
    border: none;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.logo-img {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
}

h2 {
    color: #515151;
    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
}

p {
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    width: 515px;
    margin-top: 32px;
}

.button-main {
    border-radius: 30px;
    background: #ADFF00;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    margin-top: 65px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 900px) {
    .wrapper {
        width: 100%;
        height: auto;
    }

    header {
        display: none
    }

    .logo-img {
        position: static;
        max-width: 100%;
        height: auto;
        padding: 20px;
        margin-top: 149px;
        margin-right: auto;
        margin-left: auto;
    }

    section {
        display: block;
        margin: auto;
    }

    h1 {
        font-size: 50px;
        line-height: normal;
        text-align: center;
        margin-top: 25px;
    }

    h2 {
        font-size: 30px;
        line-height: normal;
        text-align: center;
        margin-top: 7px;
        margin-bottom: 17px;
    }

    p {
        display: none;
    }

    .button-main {
        display: block;
        position: static;
        width: 293px;
        height: 64px;
        margin: 0 auto;
    }
    
}